/* TINACMS OVERRIDES */

#modal-root div[class^='ModalBody'] {
  min-height: 800px;
}

#modal-root div[class^='PopupModal'] {
  width: 560px;
}

div[class^='Media Manager'] {
  display: none;
}

@media screen and (max-width: 834px) {
  #modal-root div[class^='PopupModal'] {
    width: 90%;
  }
}
