/* -----------------------------------------------------------------------------
ADD TO CART FORM
----------------------------------------------------------------------------- */

.add-to-cart-form {
  @include breakpoint-up(md) {
    align-items: center;
    column-gap: $space-24;
    grid-template-columns: map-get($grid-template-columns, 12);
  }

  @include make-grid(null, 0, null, 36);

  &-addthis-toolbox {
    @include breakpoint-up(sm) {
      padding-top: $space-0;
      width: unset;
    }

    @include fluid-width;

    padding-top: $space-32;

    .at-share-btn-elements {
      @include flex-spread;

      display: flex;
    }
  }

  &-btn-container {
    @include breakpoint-up(sm) {
      flex-direction: row;
    }

    @include flex-spread;

    display: flex;
    flex-direction: column-reverse;
    margin-top: $space-24;
  }

  &-btn {
    @include breakpoint-up(sm) {
      @include width(map-get($sizes, auto));
    }

    @include flex-align(flex-end, self);

    @include fluid-width;

    &:disabled {
      @include opacity($opacity-25);
    }
  }

  &-col {
    &:first-of-type {
      @include breakpoint-up(md) {
        @include make-grid-col(4);
      }
    }

    &:last-of-type {
      @include breakpoint-up(md) {
        @include make-grid-col(8);
      }

      align-items: flex-start;
    }

    @include make-grid-col;

    justify-content: center;
  }

  &-controls {
    @include breakpoint-up(sm) {
      @include flex-spread;

      flex-direction: row;
    }

    @include flex-column;
  }

  &-control {
    &[name='kpd'] {
      margin-top: $space-16;
    }

    &[name='kustom'] {
      @include height(rem(120));
    }

    &[name='variant_id'] {
      @include breakpoint-up(sm) {
        border-bottom-width: $form-select-border-width;
        border-right-width: $border-width-none;
        font-size: $font-size-sm;
      }

      border-bottom-width: $border-width-none;
      font-size: $font-size-base;
    }
  }

  &-heading {
    @extend h3;

    @include breakpoint-up(sm) {
      font-size: em($font-size-xl * 2) !important;
      padding-top: $space-12;
    }

    margin-bottom: $space-0;

    & + .form-text {
      @include margin-y($space-12, $space-24);

      &:empty {
        @include margin-y($space-16, $space-0);
      }

      color: $body-color;
      font-size: $font-size-base;
    }
  }

  &-btn-container,
  &-controls {
    @include fluid-width;
  }
}
