/* -----------------------------------------------------------------------------
CHECKOUT LINE ITEM
----------------------------------------------------------------------------- */

.checkout-line-item {
  @include breakpoint-up(md) {
    @include make-grid;
  }

  @include make-grid(1, 0, null, 24);

  @include width(100%, 100%);

  &-attribute {
    @include margin-y($space-10, $space-18);

    font-weight: $font-weight-semibold;

    &[data-kpd='false'] {
      text-transform: uppercase;
    }

    &[data-kpd='true'] {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &-btn {
    @include breakpoint-up(md) {
      margin-top: $space-0;
    }

    @include padding-x($space-20);

    margin-top: $space-24;
  }

  &-col {
    &:first-of-type {
      @include breakpoint-up(md) {
        @include make-grid-col(3);
      }
    }

    &:last-of-type {
      @include breakpoint-up(md) {
        @include make-grid-col(9);
      }

      justify-content: center;
    }

    @include make-grid-col;
  }

  &-form {
    @include breakpoint-up(md) {
      @include flex-spread;

      flex-direction: row;
    }

    @include flex-column;

    &-field {
      @include breakpoint-up(sm) {
        flex-direction: row;
      }

      @include flex-column;
    }
  }

  &-heading {
    @include breakpoint-up(sm) {
      font-size: em($h3-font-size) !important;
    }

    margin-bottom: $space-0;

    .product-heading-title {
      @include user-event {
        color: $secondary;
      }

      color: $primary;
    }
  }

  &-img {
    @include fluid-img;
  }

  &-quantity {
    .form-control:read-only {
      background-color: $input-bg;
      border: none;
    }
  }

  &-title {
    @include breakpoint-down(sm) {
      border-bottom: none !important;
    }

    @include breakpoint-up(sm) {
      border-right: none !important;
    }

    font-size: $h3-font-size;
  }

  &-attribute,
  &-btn {
    font-size: $font-size-base;
  }
}
