/* -----------------------------------------------------------------------------
FORM FIELDS
----------------------------------------------------------------------------- */

.form-field {
  @include flex-column;

  &-label {
    @include breakpoint-up(md) {
      font-size: $font-size-sm;
    }

    display: inline-block;
    font-weight: $font-weight-semibold;
    margin-bottom: $space-4;
  }

  &[data-control='input'][data-type='number'] {
    @include flex(center, space-between, row, inline-flex);

    @include fluid-width;

    border: $input-border-width solid $input-border-color;
    font-size: $input-font-size;
    min-height: $input-height;
    padding: $input-padding-y $input-padding-x;
    transition: $input-transition;

    .form-field {
      &-control {
        > * {
          @include fluid-width;

          box-shadow: none;
        }
      }

      &-label {
        margin-top: $space-0;
      }

      &-control > *,
      &-label {
        color: $secondary;
      }
    }

    input {
      @include border($space-0, solid, $ghost);

      appearance: textfield;
      color: $secondary;
      min-height: unset;
      padding: 0;
      text-align: right;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
