/* -----------------------------------------------------------------------------
PRODUCT CARDS
----------------------------------------------------------------------------- */

.product-card {
  @include height($product-card-height);

  @include position-relative;

  background-color: $product-card-bg;
  border: none;

  &-dropdown {
    &-menu {
      z-index: $zindex-modal-backdrop;

      .dropdown-item {
        @include user-event {
          cursor: pointer;
        }

        @include padding-x($product-card-footer-padding-x);
      }
    }

    &-toggle {
      @include user-event {
        color: $product-card-color;
      }

      border-bottom: none;
      color: $product-card-color;
      font-weight: $font-weight-medium;
    }
  }

  &-footer {
    @include flex-spread;

    background-color: $product-card-footer-bg;
    border-top: $product-card-border-width solid $product-card-border-color;
    display: flex;
    padding: $product-card-footer-padding-y $product-card-footer-padding-x;

    > div {
      @include flex-column;
    }
  }

  &-price {
    color: $red;
    font-weight: $font-weight-bold;
  }

  &-title {
    color: $product-card-color;
    display: inline-block;
    font-weight: $font-weight-semibold;
    letter-spacing: $space-4 / 3;
    margin-bottom: $space-8;
    min-height: $space-32;
  }

  &-price,
  &-title {
    font-size: $font-size-lg;
    margin-bottom: $space-0;
  }

  &-dropdown-toggle,
  &-price,
  &-title {
    text-transform: uppercase;
  }
}
