/* -----------------------------------------------------------------------------
PRODUCT RATING FIELD
----------------------------------------------------------------------------- */

.product-rating-field {
  @include flex-spread;

  @include fluid-width;

  display: inline-flex;

  &-checkbox {
    @include breakpoint-up(md) {
      @include dimensions($space-24);
    }

    @include draw-star($muted, $space-32);

    cursor: pointer;

    &:checked {
      background-color: $form-check-input-checked-bg-color;
      background-image: none !important;
    }
  }
}
