/* -----------------------------------------------------------------------------
PRODUCT REVIEW FORM
----------------------------------------------------------------------------- */

.product-review-form {
  @include flex(stretch, center, column);

  @include padding-x($input-padding-x);

  @include padding-y($space-24);

  &-btn {
    @include breakpoint-up(sm) {
      @include width(map-get($sizes, auto));

      align-self: flex-end;
    }

    @include fluid-width;

    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    margin-top: $space-12;
  }

  &-rating {
    justify-content: space-between;
  }

  &-text {
    @include margin-y($space-12);

    color: rgba($light, 0.75);
    font-weight: $font-weight-medium;
  }

  &-title {
    @include breakpoint-up(sm) {
      @include flex(center, space-between, row);
    }

    @include flex-column;

    margin-bottom: $space-0;
    text-transform: uppercase;

    &-product-details {
      span {
        &:first-of-type {
          color: $primary;
        }

        &:last-of-type {
          color: $secondary;
        }
      }
    }
  }

  .form-field {
    margin-bottom: $space-36;
  }
}
