/* -----------------------------------------------------------------------------
PRODUCT REVIEWS
----------------------------------------------------------------------------- */

$product-review-border: $border-width-light solid rgba($dark, $opacity-15);

.product-review {
  @include flex-column;

  border: $product-review-border;
  padding: $space-48;

  &-body {
    @include capitalize-first-letter;

    color: $dark;
    font-weight: $font-weight-normal;
  }

  &-date {
    color: rgba($dark, $opacity-50);
  }

  &-footer {
    @include flex(center, space-between);

    $spacer: $space-24;

    border-top: $product-review-border;
    font-size: $font-size-sm;
    margin-top: $spacer;
    padding-top: $spacer;
  }

  &-header {
    @include margin-y($space-12);

    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;

    &-divider {
      @include margin-x($space-4);
    }

    &-product {
      text-transform: uppercase;
    }

    &-title {
      @include capitalize-first-letter;

      color: $primary;
      margin-bottom: $space-0;
    }
  }

  &-rating {
    .product-rating-checkbox {
      $icon-width: $space-24;
      $icon: icon-url(star, $muted, null, null, $icon-width);

      @include bkg-img($icon, contain, center);

      @include height($icon-width, $icon-width, $icon-width);

      @include width($icon-width, $icon-width, $icon-width);

      pointer-events: none;
    }
  }

  &-reviewer {
    @include flex(center, center);

    &-divider {
      color: $dark;
    }

    &-initials {
      @include draw-circle($space-32 !important);

      @include flex(center, center, inline-flex);

      background-color: $primary;
      color: $light;
      font-weight: $font-weight-bold;
    }

    &-name {
      margin-left: $space-12;
    }
  }

  &-body,
  &-date {
    margin-bottom: $space-0;
  }

  &-date,
  &-reviewer-name {
    font-weight: $font-weight-medium;
  }
}
