/* -----------------------------------------------------------------------------
PRODUCT BREADCRUMB
----------------------------------------------------------------------------- */

.product-breadcrumb {
  @include flex(center, flex-start);

  text-transform: uppercase;

  > * {
    @include no-breaking;
  }

  > p {
    margin-bottom: $space-0;
  }

  &-c {
    font-weight: $font-weight-bold;
  }

  &-divider {
    color: rgba($dark, $opacity-25);
  }

  &-v {
    color: $primary;
  }

  &-p,
  &-v {
    font-weight: $font-weight-semibold;
  }
}
