/* -----------------------------------------------------------------------------
SEARCH BAR
----------------------------------------------------------------------------- */

.search-bar {
  @include flex(center, flex-start, row);

  &-control {
    @include bkg-img(
      $search-bar-control-icon,
      $search-bar-control-bg-size,
      $search-bar-control-bg-position
    );

    @include padding-x(
      add($search-bar-control-icon-width, $search-bar-control-padding-x),
      $search-bar-control-padding-x
    );

    border: none;
    box-shadow: none;
    font-size: $font-size-xs;
    font-weight: $input-focus-font-weight;
    text-transform: uppercase;

    &:focus {
      box-shadow: none;
    }
  }

  &-btn,
  &-control {
    @include height(map-get($sizes, maxc));
  }
}
