### macOS ###
# General
.DS_*
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

### Environment ###
# Environment variables
.env.local
.env.*.local
.env
.env.test
.env*.local

### TypeScript ###
# TypeScript cache
*.tsbuildinfo

# Awesome TypeScript Loader
.awcache/

### ESLint ###
# Optional eslint cache
.eslintcache

### Jest ###
# Test result file
**/__tests__/results.json

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
service-account.json
service-account-*.json

### Firebase Patch ###
.runtimeconfig.json
.firebase/

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Builds & Distributions
.next
build/
dist/
packages/system/public/
!packages/app/public/

# Vercel
.vercel
