# NPM Configuration

# Install from GPR
# See: https://github.com/vercel/vercel/discussions/5418
always-auth=true
@flex-development:registry=https://npm.pkg.github.com/flex-development/
//npm.pkg.github.com/:_authToken=${GH_TOKEN}
//npm.pkg.github.com/lexusdrumgold/:_authToken=${GH_TOKEN}
registry=https://registry.npmjs.org
