# NPM Configuration

# Install from GPR
# See: https://github.com/vercel/vercel/discussions/5418
always-auth=true
registry=https://registry.npmjs.org
@flex-development:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GH_TOKEN}
