# Prettier Ignore
# See: https://prettier.io/docs/en/ignore.html

**/.vercel/**
**/node_modules/**
**/build/**
**/dist/**
**/public/**

!.storybook/

.vscode/

packages/app/.next/

package-lock.json

*.d.ts