/// ----------------------------------------------------------------------------
/// @group ShopLayout
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Styles
/// ----------------------------------------------------------------------------

.shop-layout {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  .playlistbar {
    bottom: 0;
    width: 100%;
  }

  .shop-header {
    width: 100%;
    width: -moz-available;
  }

  .sidebar-col {
    @include make-col(12);

    @include media-breakpoint-between(sm, lg) {
      background-color: $darker-75;
    }

    @include media-breakpoint-up(lg) {
      @include make-col(3);
    }

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    &[data-visible='true'] + .content-col {
      @include media-breakpoint-up(lg) {
        @include make-col(9);
      }
    }

    &[data-visible='false'] + .content-col,
    &[hidden] + .content-col {
      @include make-col(12);
    }

    .sidebar {
      @include media-breakpoint-between(sm, lg) {
        @include make-col(6);
      }

      @include media-breakpoint-down(sm) {
        @include make-col(12);
      }

      width: 100%;
    }
  }

  .playlistbar,
  .shop-header,
  .sidebar-col {
    @include fixed;

    z-index: 2;
  }
}
