/* -----------------------------------------------------------------------------
CART PREVIEW
----------------------------------------------------------------------------- */

.cart-preview {
  @include height(max-content);

  @include no-breaking;

  @include user-event {
    color: $primary !important;
  }

  color: $primary;
  font-weight: $font-weight-semibold;
  text-align: right;
  text-transform: uppercase;

  &-divider {
    color: $border-color;
  }

  &-items {
    color: $secondary;
  }
}
