/// ----------------------------------------------------------------------------
/// @group AddToCartForm
/// ----------------------------------------------------------------------------

.add-to-cart-form {
  @include flex(center, center, column);

  @include media-breakpoint-down(md) {
    .row > .col {
      &:first-of-type {
        padding-right: $spacers-0;
      }

      &:last-of-type {
        padding-left: $spacers-0;
      }
    }
  }

  .product-heading {
    @include media-breakpoint-up(md) {
      font-size: $spacers-40;
    }
  }

  .form {
    &-control[name='kustom'] {
      @include element-size(rem(120), height);
    }

    &-select[name='variant_id'] {
      @include media-breakpoint-down(sm) {
        border-bottom: none;
      }

      @include media-breakpoint-up(sm) {
        border-right: none;
        font-size: $font-size-base;
      }
    }

    &-text {
      @include font-size($font-size-base);

      color: $secondary;
    }
  }

  // Add to cart button
  .btn[type='submit'] {
    &:disabled {
      @include opacity(map-get($opacities, 25));
    }
  }
}
