/* -----------------------------------------------------------------------------
GRIDS
----------------------------------------------------------------------------- */

.line-item-grid {
  @include breakpoint-up(sm) {
    row-gap: $space-36;
  }

  @include make-grid(1, 0, null, 72);
}

.product-grid {
  @include breakpoint-up(sm) {
    column-gap: $space-24;
    grid-template-columns: map-get($grid-template-columns, 2);
  }

  @include breakpoint-up(md) {
    grid-template-columns: map-get($grid-template-columns, 3);
  }

  @include make-grid(1, 0, null, 24);
}
