/* -----------------------------------------------------------------------------
HERO
----------------------------------------------------------------------------- */

.hero {
  @include breakpoint-up(md) {
    min-height: rem(600);
  }

  @include flex(center, center, column);

  border-bottom: $border-width solid $border-color;
  padding: $space-48 $template-padding-x;
  min-height: 100vh;
  text-align: center;

  &-subtitle {
    @include breakpoint-up(sm) {
      font-size: $font-size-lg;
    }

    @include breakpoint-up(md) {
      font-size: $font-size-xxl;
    }

    color: $primary;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  &-title {
    @include breakpoint-up(sm) {
      font-size: $space-48;
      margin-bottom: $space-0;
    }

    @include breakpoint-up(md) {
      font-size: $space-64;
    }

    @include breakpoint-up(lg) {
      font-size: $space-80;
    }

    @include breakpoint-up(xl) {
      font-size: $space-96;
    }

    @include no-breaking;

    color: $headings-color;
    font-size: $space-36;
    font-family: $font-family-sans-serif-special;
    margin-bottom: $space-12;
  }
}
