/* -----------------------------------------------------------------------------
PLAYLIST BAR
----------------------------------------------------------------------------- */

.playlist-bar {
  @include flex(center, space-between, row);

  @include height(
    $playlist-bar-height,
    $playlist-bar-height,
    $playlist-bar-height
  );

  background-color: $primary;
  border-top: $border-width solid $border-color;
  color: $light;
  overflow-y: hidden;
  padding-right: $space-24;

  &-artwork {
    @include breakpoint-up(sm) {
      margin-right: $space-12;
    }

    @include fluid-height;

    @include position-relative;

    @include width(
      $playlist-bar-height,
      $playlist-bar-height,
      $playlist-bar-height
    );

    background-color: rgba($primary, $opacity-75);
    display: inline-block;
    margin-right: $space-8;
    text-indent: -9999px;

    &[data-ready] {
      background-color: $ghost;
      text-indent: initial;
    }

    > img {
      @include fluid-img;
    }
  }

  &-col {
    &:last-of-type {
      fill: $light;
      justify-content: flex-end;
    }

    align-items: center;
    display: flex;
  }

  &-btn {
    $icon-fill: $light;
    $icon-width: $space-32;

    @include height($icon-width, $icon-width, $icon-width);

    @include width($icon-width, $icon-width, $icon-width);

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &[name='playback'] {
      $icon-width: $space-40;

      @include height($icon-width, $icon-width, $icon-width);

      @include padding-x($space-8);

      @include width($icon-width, $icon-width, $icon-width);

      &[value='paused'] {
        background-image: icon-url(
          play-circle-major,
          $icon-fill,
          null,
          null,
          $icon-width
        );
      }

      &[value='playing'] {
        background-image: icon-url(
          pause-circle-major,
          $icon-fill,
          null,
          null,
          $icon-width
        );
      }
    }

    &[name='to-next-song'] {
      background-image: icon-url(
        pagination-end-minor,
        $icon-fill,
        null,
        null,
        $icon-width
      );
    }

    &[name='to-previous-song'] {
      background-image: icon-url(
        pagination-start-minor,
        $icon-fill,
        null,
        null,
        $icon-width
      );
    }
  }

  &-media-details {
    @include flex-column;

    @include position-relative;

    font-size: em($font-size-xs);
  }

  &-song {
    @include breakpoint-up(sm) {
      font-size: $font-size-sm;
    }

    font-weight: $font-weight-semibold;
  }

  &-artist,
  &-song {
    margin-bottom: $space-0;
  }
}
