/* -----------------------------------------------------------------------------
SHOP HEADER
----------------------------------------------------------------------------- */

.shop-header {
  @include flex(center, space-between);

  @include height(
    $shop-header-height,
    $shop-header-height,
    $shop-header-height
  );

  @include padding-x($space-24, $space-48);

  background-color: $body-bg;
  border-bottom: $border-width solid $border-color;

  .cart-preview {
    font-size: $font-size-sm;
  }

  &-btn {
    $icon-width: em($space-32);

    $icon: icon-url(
      mobile-hamburger-major,
      $primary,
      $primary,
      $border-width-lighter,
      $icon-width,
      $icon-width
    );

    @include bkg-img($icon, contain, center);

    @include breakpoint-up(sm) {
      margin-right: $space-24;
    }

    @include height($icon-width, $icon-width, $icon-width);

    @include width($icon-width, $icon-width, $icon-width);

    margin-right: $space-8;
  }

  &-col {
    &:first-of-type {
      @include fluid-width;

      align-items: center;
    }

    &:last-of-type {
      @include width(map-get($sizes, maxc));

      justify-content: flex-end;
    }

    display: flex;
  }

  &-search-bar {
    @include fluid-width;
  }
}
