/* -----------------------------------------------------------------------------
SIDEBAR
----------------------------------------------------------------------------- */

.sidebar {
  @include flex(flex-start, space-between, column);

  @include height($sidebar-height, $sidebar-height, $sidebar-height);

  @include overflow-scroll;

  background-color: $body-bg;
  color: $primary;
  font-size: em($font-size-sm);
  padding: $sidebar-padding-y-top $sidebar-padding-x $sidebar-padding-y-bottom;

  &-footer {
    @include padding-y($space-40, $space-24);
  }

  &-menu {
    @include flex-column;

    flex-wrap: nowrap;
    padding-bottom: $space-32;

    .menu-link {
      @include padding-x($space-0);
    }
  }

  &-profile {
    @include breakpoint-up(sm) {
      flex-direction: row;
    }

    @include flex(center, flex-start, column);

    font-weight: $font-weight-semibold;
    margin-bottom: em($space-72);

    > div {
      @include fluid-width;
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: $space-8;
      }

      &:last-of-type {
        margin-bottom: $space-0;
      }
    }

    &-link-img {
      @include breakpoint-up(sm) {
        $dimensions: rem(160);

        @include height($dimensions, $dimensions, $dimensions);

        @include width($dimensions, $dimensions, $dimensions);

        margin-bottom: $space-0;
        margin-right: $space-24;
      }

      @include breakpoint-up(xl) {
        $dimensions: rem(180);

        @include height($dimensions, $dimensions, $dimensions);

        @include width($dimensions, $dimensions, $dimensions);
      }

      border: $border-width-thin solid $border-color;
      display: inline-block;
      margin-bottom: $space-32;
      margin-right: $space-0;

      img {
        @include fluid-img;
      }
    }

    &-name {
      color: $secondary;
      font-size: em($font-size-xl);
    }

    &-online-status {
      $icon-width: $space-36;
      $icon: icon-url(customers-major, $secondary, null, null, $icon-width);

      @include bkg-img($icon, contain, left);

      @include no-breaking;

      font-size: $font-size-base;
      padding-left: $space-28;
    }
  }

  &-profile,
  &-row {
    @include fluid-width;
  }

  .developer-credit {
    margin-bottom: $space-0;
  }
}

.developer-credit {
  text-transform: uppercase;
}
