/* -----------------------------------------------------------------------------
SIDEBAR
----------------------------------------------------------------------------- */

.sidebar {
  @include flex(flex-start, flex-start, column);

  @include height(90vh);

  @include overflow-scroll;

  background-color: $body-bg;
  color: $primary;
  font-size: $sidebar-font-size;
  padding: rem(120) $sidebar-padding-x $sidebar-padding-y;

  &-footer {
    @include padding-y($space-40, $space-24);
  }

  &-menu {
    @include flex-column;

    @include padding-y($space-32);

    flex-wrap: nowrap;

    .menu-link {
      @include padding-x($space-0);
    }
  }

  &-profile {
    p {
      &:not(:last-of-type) {
        margin-bottom: $space-8;
      }

      &:last-of-type {
        margin-bottom: $space-0;
      }
    }

    &-link-img {
      @include breakpoint-up(sm) {
        @include dimensions(rem(210));
      }

      border: $border-width solid $border-color;
      display: inline-block;
      margin-bottom: $space-72;

      img {
        @include fluid-img;
      }
    }

    &-name {
      font-size: $font-size-xl;
    }

    &-online-status {
      display: inline-flex;

      .icon {
        fill: $secondary;
        margin-right: $space-12 / 2;
      }
    }

    &-name,
    &-online-status {
      font-weight: $font-weight-bold;
    }
  }

  .developer-credit {
    margin-bottom: $space-0;
  }
}

.developer-credit {
  text-transform: uppercase;
}
