/* -----------------------------------------------------------------------------
LAYOUT
----------------------------------------------------------------------------- */

.layout {
  @include flex-column;

  overflow-x: hidden;
  justify-content: space-between;

  &[data-loading='true'] {
    @include opacity(0);

    height: $space-0;
    transition: $transition-collapse-fade;

    + .loading-container {
      z-index: $zindex-modal;
    }
  }

  .content-col {
    @include breakpoint-up(lg) {
      @include position-relative;
    }
  }

  .hero {
    @supports (-webkit-touch-callout: none) {
      min-height: 92.5vh;
    }

    @supports not (-webkit-touch-callout: none) {
      min-height: 100vh;
    }
  }

  .playlist-bar {
    @include fluid-width;

    @include position-fixed(null, null, $space-0);

    padding-right: $space-24;
    min-height: $space-72;
  }

  .shop-header {
    @include fluid-width;

    @include position-fixed($space-0);

    padding: $space-20 $space-24;
    z-index: $zindex-modal-backdrop;
  }

  .sidebar {
    @include breakpoint-down(sm) {
      @include height(unset);

      @include padding-y(rem($sidebar-padding-y * 2.25));
    }

    @include breakpoint-up(md) {
      @include position-fixed;
    }
  }
}

.loading-container {
  @include flex(center, center, column);

  @include fluid-height;

  @include fluid-width;

  @include position-absolute;

  padding-top: $space-16;

  &-icon {
    @include dimensions(rem(42)); // Must be size of inner <circle> element
  }

  &-text {
    color: $primary;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    margin-top: $space-8;
    text-transform: uppercase;
  }
}

.layout,
.loading-container {
  @include height(100vh);

  transition: $transition-fade;
}
