/* -----------------------------------------------------------------------------
LAYOUT
----------------------------------------------------------------------------- */

.layout {
  @include flex-column;

  overflow-x: hidden;

  // &[data-loading='false'] {
  //   @include opacity(1);

  //   + .loading-container {
  //     height: $space-0;
  //     transition: $transition-collapse;
  //     z-index: -1;
  //   }
  // }

  // &[data-loading='true'] {
  //   @include opacity(0);

  //   height: $space-0;
  //   transition: $transition-collapse;

  //   + .loading-container {
  //     z-index: $zindex-modal;
  //   }
  // }

  .content-col {
    @include breakpoint-up(lg) {
      @include position-relative;
    }
  }

  .hero {
    @supports (-webkit-touch-callout: none) {
      min-height: 95vh;
    }

    @supports not (-webkit-touch-callout: none) {
      min-height: 100vh;
    }
  }

  .playlist-bar {
    @include fluid-width;

    @include position-relative;

    padding-right: $space-24;
    min-height: $space-72;
    z-index: $zindex-modal;
  }

  .shop-header {
    @include fluid-width;

    @include position-absolute($space-0);

    padding: $space-20 $space-24;
    z-index: $zindex-modal-backdrop;
  }

  .sidebar {
    @include breakpoint-up(md) {
      @include position-fixed;
    }
  }
}

.loading-container {
  @include flex(center, center, column);

  @include fluid-height;

  @include fluid-width;

  @include position-absolute;

  padding-top: $space-16;

  &-icon {
    @include dimensions(rem(42)); // Must be size of inner <circle> element
  }

  &-text {
    color: $primary;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    margin-top: $space-4;
    text-transform: uppercase;
  }
}

.layout,
.loading-container {
  @include height(100vh);

  transition: $transition-fade;
}
