/* -----------------------------------------------------------------------------
WEB FONTS
----------------------------------------------------------------------------- */

// Don't display page content if web fonts are loading
.wf-loading .layout,
.layout[data-loading='true'] {
  @include opacity(0);

  height: $space-0;
  transition: $transition-collapse-fade;

  + .loading-container {
    z-index: $zindex-modal;
  }
}

// Display page content when web fonts are active
.wf-active .layout,
.layout[data-loading='false'] {
  @include opacity(1);

  + .loading-container {
    @include dimensions($space-0);
    transition: $transition-collapse-fade;
    z-index: -1;

    > * {
      @include dimensions($space-0);

      @include opacity(0);

      transition: $transition-collapse-fade;
      transition-duration: 0.15s;
    }
  }
}
