/* -----------------------------------------------------------------------------
WEB FONTS
----------------------------------------------------------------------------- */

// Display page content when web fonts are active
.wf-active .layout[data-loading='false'] {
  @include opacity(1);

  + .loading-container {
    @include dimensions($space-0);
    transition: $transition-collapse-fade;
    z-index: -1;

    > * {
      @include dimensions($space-0);

      @include opacity(0);

      transition: $transition-collapse-fade;
      transition-duration: 0.15s;
    }
  }
}
