/// ----------------------------------------------------------------------------
/// @group DropdownMenu
/// ----------------------------------------------------------------------------

.dropdown {
  &-menu,
  &-toggle {
    @include element-size(100%);
  }

  &-header {
    @include event {
      color: $dropdown-header-hover-color;
    }
  }

  &-menu {
    @include absolute;

    @include border($secondary, $border-width, top);

    @include padding-y($spacers-0);

    background-color: $ghost;
    margin-top: $spacers-0;
    text-transform: uppercase;

    &.nav {
      display: none;

      &.show {
        @include display-flex;

        flex-wrap: wrap;
      }
    }
  }

  &-item {
    @include event {
      background-color: $dropdown-item-hover-bg;
    }

    background-color: $dropdown-item-bg;
    color: $dropdown-item-color;

    &:empty {
      display: none;
    }

    &:not(:last-of-type) {
      @include border(rgba($secondary, 0.25), $border-width-thin, bottom);
    }

    a {
      color: $dropdown-item-color;
    }
  }

  &-toggle {
    border-bottom: $border-width-thin solid rgba($light, 0.25);
    font-size: $dropdown-font-size;

    &::after {
      margin-left: 0.75em;
    }
  }
}
