/// ----------------------------------------------------------------------------
/// @group SearchBar
/// ----------------------------------------------------------------------------

.searchbar {
  @include flex(center, flex-start, row);

  &-btn {
    color: $light;
  }

  &-input {
    @include event {
      color: $primary;
    }

    @include padding-x($spacers-8);

    @include padding-y($spacers-0);

    border: none;
    color: $primary;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  &-btn,
  &-input {
    @include height(map-get($sizes, maxc));
  }
}
