/// ----------------------------------------------------------------------------
/// @group PlaylistBar
/// ----------------------------------------------------------------------------

.playlistbar {
  @include border($border-color, $border-width, top);

  @include flex(center, center, column);

  @include padding-y($spacers-0);

  background-color: $body-bg;
  color: $light;

  > .row {
    @include flex(center, space-between);
  }

  // Image
  &-artwork {
    @include margin($spacers-12, right);

    @include relative;

    @include set-element-dimensions($spacers-60);

    display: inline-block;
  }

  // Next, previous, and playback buttons
  &-control {
    &-playback {
      @include margin-x($spacers-8);

      font-size: $font-size-xxl;
    }

    &-skip {
      font-size: $font-size-base;
    }

    &-playback,
    &-skip {
      color: inherit;
    }
  }

  // Song title
  &-song {
    @include media-breakpoint-up(sm) {
      font-size: $font-size-sm;
    }

    font-weight: $font-weight-semibold;
  }

  // Artist and song title
  &-artist,
  &-song {
    @include margin($spacers-0, bottom);

    font-size: $font-size-xs;
  }
}
