/// ----------------------------------------------------------------------------
/// @group ProductBreadcrumb
/// ----------------------------------------------------------------------------

.product-breadcrumb {
  color: $light;
  text-transform: uppercase;

  &-divider {
    color: rgba(map-get($color-utils, muted), 0.5);
    font-weight: $font-weight-medium;
  }

  &-p {
    color: $light;
  }

  &-v {
    color: $secondary;
    font-weight: $font-weight-bold;
  }

  p {
    @include margin-bottom($spacers-0);
  }
}
