/* -----------------------------------------------------------------------------
CART TEMPLATE
----------------------------------------------------------------------------- */

.cart-template {
  @include flex(flex-start, center, column);

  &-btn {
    font-weight: $font-weight-bold;
  }

  &-details {
    @include breakpoint-up(sm) {
      flex-direction: row;
      justify-content: flex-end;
    }

    @include breakpoint-up(md) {
      @include flex-align(flex-end, self);

      margin-top: $space-48;
    }

    @include flex(center, center, column);

    @include fluid-width;

    margin-top: $space-72;

    &[data-disabled] {
      .cart-template-subtotal {
        color: $muted;
      }
    }
  }

  &-subtotal {
    @include breakpoint-up(sm) {
      margin-bottom: $space-0;
      margin-right: $space-20;
    }

    color: $white;
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
    margin-bottom: $space-24;
    text-transform: uppercase;
  }

  .line-item-grid {
    &:empty {
      + .cart-template-details .cart-template-btn {
        @extend %disabled-button;

        cursor: not-allowed;
        pointer-events: none;
      }
    }
  }
}
