/* -----------------------------------------------------------------------------
LAYOUT
----------------------------------------------------------------------------- */

.layout {
  @include flex-column;

  @include height(100vh);

  overflow-x: hidden;

  > * {
    transition: $transition-fade;
  }

  .content-col {
    @include breakpoint-up(lg) {
      @include position-relative;
    }
  }

  .playlist-bar {
    @include fluid-width;

    @include position-relative;

    padding-right: $space-24;
    z-index: $zindex-modal;
  }

  .shop-header {
    @include fluid-width;

    @include position-absolute($space-0);

    padding: $space-20 $space-24;
    z-index: $zindex-modal-backdrop;
  }

  .sidebar {
    @include breakpoint-up(md) {
      @include position-fixed;
    }
  }

  &[data-loading='false'] {
    .loading-container {
      @include opacity(0);

      display: none;
    }
  }

  &[data-loading='true'] {
    .loading-container {
      @include opacity(1);

      display: flex;
    }
  }
}

.loading-container {
  @include flex(center, center, column);

  @include fluid-height;

  @include fluid-width;

  &-icon {
    @include dimensions(rem(42)); // Must be size of inner <circle> element
  }
}
