/* -----------------------------------------------------------------------------
LAYOUT
----------------------------------------------------------------------------- */

.layout {
  @include flex-column;

  @include height(100vh);

  overflow-x: hidden;

  .playlist-bar {
    @include fluid-width;

    padding-right: $space-24;
  }

  .shop-header {
    @include fluid-width;

    padding: $space-20 $space-24;
  }

  &[data-loading='false'] {
    .loading-container {
      opacity: 0;
    }
  }

  &[data-loading='true'] {
    .loading-container {
      opacity: 1;
    }
  }
}

.loading-container {
  @include flex(center, center, column);

  @include fluid-height;

  @include fluid-width;

  transition: opacity 0.125s linear;

  &-icon {
    @include dimensions(rem(42)); // Must be size of inner <circle> element
  }

  &-text {
    color: $primary;
    font-size: $font-size-sm;
    font-weight: $font-weight-semibold;
    margin-top: $space-8;
    text-transform: uppercase;
  }
}
