/* -----------------------------------------------------------------------------
PRODUCT TEMPLATE
----------------------------------------------------------------------------- */

.product-template {
  padding-bottom: $template-padding-y-bottom * 1.75;

  &-breadcrumb {
    @include breakpoint-up(sm) {
      font-size: $font-size-base;
      margin-bottom: $space-24;
    }

    font-size: em(12);
    margin-bottom: $space-16;
  }

  &-btn {
    &[name='submit-review'] {
      @include breakpoint-down(sm) {
        font-size: $font-size-sm;
        padding: $space-8;
      }
    }
  }

  &-carousel {
    &:empty {
      display: none;
    }

    .product-review {
      margin-bottom: $space-36;
    }
  }

  &-reviews {
    margin-top: $space-54;

    h2 {
      font-size: $h4-font-size;
      margin-bottom: $space-0;
    }

    &-header {
      @include breakpoint-up(sm) {
        margin-top: $space-48;
      }

      @include flex-spread;

      @include margin-y($space-24);

      display: flex;
    }
  }
}
