/// ----------------------------------------------------------------------------
/// @name bkg-img
/// @group mixins
/// ----------------------------------------------------------------------------

/// Background image helper.
/// @param {String | null} $filename - Optional filename (including extension)
/// @param {String} $size [cover] - background-size
/// @param {List} $pos [center center] - background-position
/// @param {String} $repeat [no-repeat] - background-repeat
@mixin bkg-img(
  $filename,
  $size: cover,
  $pos: center center,
  $repeat: no-repeat
) {
  @if $filename {
    background-image: $filename;
  }

  background-position: $pos;
  background-repeat: $repeat;
  background-size: $size;

  @content;
}
