/// ----------------------------------------------------------------------------
/// @name caret-down
/// @group mixins
/// ----------------------------------------------------------------------------

/// Creates a downwards facing caret.
/// @require {variable} $caret-width
/// @require {variable} $ghost
@mixin caret-down {
  border-bottom: 0;
  border-left: $caret-width solid $ghost;
  border-right: $caret-width solid $ghost;
  border-top: $caret-width solid; 
}
