/// ----------------------------------------------------------------------------
/// @name draw-star
/// @group mixins
/// @link https://css-tricks.com/five-methods-for-five-star-ratings/#method-4-using-css-to-draw-the-shape
/// ----------------------------------------------------------------------------

@use 'dimensions' as *;

/// Create an svg star.
/// @require {mixin} dimensions
/// @require {variable} $black
/// @require {variable} $space-24
/// @require {variable} $star-polygon
/// @param {Color} $bg-color [$black] - Star background color
/// @param {Number} $size [$space-24] - Height and width of star
@mixin draw-star($bg-color: $black, $size: $space-24) {
  @include dimensions($size);

  background-color: $bg-color;
  clip-path: $star-polygon;
  display: inline-block;
}
