/// ----------------------------------------------------------------------------
/// @name escape-svg
/// @group functions
/// @link https://codepen.io/kevinweber/pen/dXWoRw
/// ----------------------------------------------------------------------------

@use 'str-replace' as *;

/// Requires the use of quotes around data URIs.
/// @param {String} $string - SVG string to escape
/// @return {String} Encoded SVG string
@function escape-svg($string: '') {
  // Only escape string if SVG
  @if str-index($string, 'data:image/svg+xml') {
    @each $char, $encoded in $escaped-characters {
      // Do not escape the url brackets
      $url-bracket: str-index($string, 'url(') == 1;

      @if str-index($string, 'url(') == 1 {
        $url: str-replace(str-slice($string, 6, -3), $char, $encoded);
        $string: url('#{$url}');
      } @else {
        $string: str-replace($string, $char, $encoded);
      }
    }
  }

  @return $string;
}
