/* APP STYLES */

/* ShopLayout */

.hero {
  height: 668px !important;
}

.sidebar {
  width: inherit;
}

.sidebar-col {
  height: 100vh;
}

.playlistbar,
.shop-header {
  z-index: 2;
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}
