/* APP STYLES */

/* WEB FONTS */

.layout > * {
  transition: opacity 0.125s linear;
}

.wf-active .layout[data-loading='false'] > * {
  opacity: 1 !important;
}

html .layout > *:not(.loading-container),
.wf-loading .layout > * {
  opacity: 0;
}
