/// ----------------------------------------------------------------------------
/// @group Option
/// ----------------------------------------------------------------------------

option {
  @include event {
    background-color: $secondary;
  }

  @include padding-x($form-select-padding-x);

  @include padding-y($form-select-padding-y);

  background-color: $form-select-bg;
  color: $form-select-color;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
}
