/// ----------------------------------------------------------------------------
/// Theme Variables
/// @group config-variables
/// @link https://getbootstrap.com/docs/4.5/getting-started/theming/
/// ----------------------------------------------------------------------------

@use '~bootstrap/scss/bootstrap-utilities' as bootstrap;

// -----------------------------------------------------------------------------
// Color system
// -----------------------------------------------------------------------------

$dark: #232946;
$darker: #121629;
$light: #fffffe;
$primary: #eebbc3;
$secondary: #b8c1ec;

$darker-75: rgba($darker, 0.75);
$light-75: rgba($light, 0.75);

$darker-50: rgba($darker, 0.5);
$light-50: rgba($light, 0.5);
$secondary-50: rgba($secondary, 0.5);

$dark-25: rgba($dark, 0.25);
$light-25: rgba($light, 0.25);
$primary-25: rgba($primary, 0.25);
$secondary-25: rgba($secondary, 0.25);

$light-5: rgba($light, 0.05);

$ghost: transparent;

// -----------------------------------------------------------------------------
// Options
// -----------------------------------------------------------------------------

$enable-shadows: false;

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

$spacer-em: 1em;

$spacers-0: 0;
$spacers-1: rem(1);
$spacers-2: rem(2);
$spacers-4: rem(4);
$spacers-8: rem(8);
$spacers-10: rem(10);
$spacers-12: rem(12);
$spacers-16: rem(16);
$spacers-18: rem(18);
$spacers-20: rem(20);
$spacers-24: rem(24);
$spacers-32: rem(32);
$spacers-36: rem(36);
$spacers-40: rem(40);
$spacers-48: rem(48);
$spacers-60: rem(60);
$spacers-72: rem(72);
$spacers-80: rem(80);
$spacers-96: rem(96);

$icon-pos-spacer: $spacers-1;

// -----------------------------------------------------------------------------
// Position
// -----------------------------------------------------------------------------

$position-values: map-merge(
  bootstrap.$position-values,
  (
    auto: auto,
    unset: unset
  )
);

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

$body-bg: $dark;
$body-color: $secondary;

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

$link-color: $primary;
$link-decoration: none;

// -----------------------------------------------------------------------------
// Paragraphs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Breakpoints
// -----------------------------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  gt-360: 361px,
  sm: 576px,
  md: 834px,
  lg: 1010px,
  xl: 1368px,
  xxl: 1440px
);

// -----------------------------------------------------------------------------
// Grid Containers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Columns
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Container Padding
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------

$border-color: $darker;
$border-color-inverse: $light;

$border-width: 2px;

$border-width-light: 0.5px;
$border-width-thin: 1px;
$border-width-thick: 4px;

$border-radius: $spacers-0;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$font-family-sans-serif: ibm-plex-sans, sans-serif;
$font-family-sans-serif-special: quimby-gubernatorial, sans-serif;

$font-size-xs: rem(12);
$font-size-sm: rem(14);
$font-size-lg: rem(18);
$font-size-xl: rem(20);
$font-size-xxl: rem(24);

$h1-font-size: rem(60);
$h2-font-size: rem(48);
$h3-font-size: rem(36);
$h4-font-size: $font-size-xxl;
$h5-font-size: $font-size-xl;
$h6-font-size: $font-size-lg;

$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$headings-font-weight: bootstrap.$font-weight-bold;
$headings-color: $light;
$headings-text-transform: uppercase;

$hr-color: $light;

// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Button & Forms
// -----------------------------------------------------------------------------

$input-btn-focus-box-shadow: none;

$input-btn-padding-y: $spacers-8;
$input-btn-padding-x: $spacers-12;

$input-btn-padding-y-lg: $spacers-12;
$input-btn-padding-x-lg: $spacers-20;

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

$btn-color: $dark;
$btn-color-inverse: $light;

// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

$form-text-color: $light;

$input-bg: $ghost;
$input-disabled-bg: $input-bg;
$input-disabled-border-color: bootstrap.$form-select-disabled-color;

$input-color: $secondary;
$input-border-color: $border-color;

$input-focus-border-color: $input-border-color;

$input-placeholder-color: $secondary-50;

$form-control-border: bootstrap.$input-border-width solid
  bootstrap.$input-border-color;

$form-check-margin-bottom: $spacers-0;

$form-check-input-bg: $light;

$form-check-input-checked-bg-color: $primary;

$form-select-font-size: $font-size-sm;
$form-select-indicator-padding: $spacers-36;
$form-select-font-weight: $font-weight-semibold;

$form-select-color: $dark;
$form-select-bg: $primary;

$form-select-indicator-color: $input-border-color;

$form-select-box-shadow: unset;

$form-select-focus-box-shadow: $form-select-box-shadow;

// -----------------------------------------------------------------------------
// Form Validation
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Z-Index
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navbars
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Dropdowns
// -----------------------------------------------------------------------------

$dropdown-font-size: $font-size-sm;

$dropdown-border-color: $ghost;
$dropdown-border-width: $spacers-0;

$dropdown-link-color: $link-color;
$dropdown-link-hover-color: $dark;
$dropdown-link-hover-bg: $primary;

$dropdown-link-active-color: $dropdown-link-hover-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;

$dropdown-item-padding-y: $spacers-8;
$dropdown-item-padding-x: $spacers-12;

$dropdown-item-bg: $ghost;
$dropdown-item-hover-bg: $primary;
$dropdown-item-color: $primary;
$dropdown-item-font-size: $font-size-xs;

$dropdown-header-color: $primary;
$dropdown-header-hover-color: $dropdown-header-color;

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Tooltips
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Popovers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Toasts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Modals
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Progress Bars
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// List Groups
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Image Thumbnails
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Figures
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Breadcrumbs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Spinners
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Close
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Code
// -----------------------------------------------------------------------------
