/// ----------------------------------------------------------------------------
/// Theme Variables
/// @group config-variables
/// @link https://getbootstrap.com/docs/4.5/getting-started/theming/
/// ----------------------------------------------------------------------------

@use '~bootstrap/scss/bootstrap-utilities' as bootstrap;

// -----------------------------------------------------------------------------
// Color system
// -----------------------------------------------------------------------------

$dark: #232946;
$darker: #121629;
$light: #fffffe;
$primary: #eebbc3;
$secondary: #b8c1ec;

$light-75: rgba($light, 0.75);

$dark-25: rgba($dark, 0.25);
$light-25: rgba($light, 0.25);
$primary-25: rgba($primary, 0.25);
$secondary-25: rgba($secondary, 0.25);

$light-5: rgba($light, 0.05);

$ghost: transparent;

// -----------------------------------------------------------------------------
// Options
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

$spacers-0: 0;
$spacers-1: 0.25rem;
$spacers-2: 0.5rem;
$spacers-3: 0.75rem;
$spacers-4: 1rem;
$spacers-5: 1.25rem;
$spacers-6: 1.5rem;
$spacers-7: 1.75rem;
$spacers-8: 2rem;
$spacers-9: 2.25rem;
$spacers-10: 2.5rem;
$spacers-11: 2.75rem;
$spacers-12: 3rem;
$spacers-14: 3.5rem;
$spacers-15: 3.75rem;
$spacers-16: 4rem;
$spacers-17: 4.25rem;
$spacers-18: 4.5rem;
$spacers-19: 4.75rem;
$spacers-20: 5rem;
$spacers-21: 5.25rem;
$spacers-22: 5.5rem;
$spacers-23: 5.75rem;
$spacers-24: 6rem;
$spacers-25: 6.25rem;
$spacers-26: 6.5rem;
$spacers-27: 6.75rem;
$spacers-28: 7rem;
$spacers-29: 7.25rem;
$spacers-30: 7.5rem;
$spacers-31: 7.75rem;
$spacers-40: 10rem;
$spacers-48: 12rem;
$spacers-56: 14rem;
$spacers-64: 16rem;

$icon-pos-spacer: $spacers-1;

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

$body-bg: $dark;
$body-color: $secondary;

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

$link-color: $primary;
$link-decoration: none;

// -----------------------------------------------------------------------------
// Paragraphs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Breakpoints
// -----------------------------------------------------------------------------

$grid-breakpoints: map-merge(
  bootstrap.$grid-breakpoints,
  (
    md: 834px,
    xxl: 1440px
  )
);

// -----------------------------------------------------------------------------
// Grid Containers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Columns
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Container Padding
// -----------------------------------------------------------------------------

$border-radius: $spacers-0;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;

// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------

$border-color: $darker;

$border-width: 2px;
$border-width-sm: 1px;
$border-width-xs: .5px;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$font-family-sans-serif: ibm-plex-sans, sans-serif;
$font-family-sans-serif-special: quimby-gubernatorial, sans-serif;

// Fixes "SassError: Incompatible units rem and em"
$font-size-base-em: 1em;

$font-size-xs: $font-size-base-em * 0.75;
$font-size-sm: $font-size-base-em * 0.875;
$font-size-lg: $font-size-base-em * 1.125;
$font-size-xl: $font-size-base-em * 1.25;
$font-size-xxl: $font-size-base-em * 1.5;

$h1-font-size: $font-size-base-em * 3;
$h2-font-size: $font-size-base-em * 2.25;
$h3-font-size: $font-size-base-em * 2;
$h4-font-size: $font-size-base-em * 1.75;
$h5-font-size: $font-size-base-em * 1.5;
$h6-font-size: $font-size-base-em * 1.25;

$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$headings-font-weight: bootstrap.$font-weight-bold;
$headings-color: $light;
$headings-text-transform: uppercase;

$hr-color: $light;

// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Button & Forms
// -----------------------------------------------------------------------------

$input-btn-focus-box-shadow: none;

$input-btn-padding-y: $spacers-2;
$input-btn-padding-x: $spacers-3;

$input-btn-padding-y-lg: $spacers-3;
$input-btn-padding-x-lg: $spacers-5;

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

$btn-color: $dark;
$btn-color-inverse: $light;

// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

$form-text-color: $light;

$input-bg: $ghost;
$input-disabled-bg: $input-bg;
$input-disabled-border-color: bootstrap.$form-select-disabled-color;

$input-color: $secondary;
$input-border-color: $border-color;

$input-focus-border-color: $input-border-color;

$input-placeholder-color: $secondary;

$input-placeholder-size: bootstrap.$font-size-base * 0.875;

$input-placeholder-text-transform: uppercase;

$form-check-input-bg: $light;

$form-check-input-checked-bg-color: $primary;

$form-select-color: $dark;
$form-select-bg: $primary;

$form-select-focus-color: $form-select-color;
$form-select-focus-bg: $form-select-bg;

// -----------------------------------------------------------------------------
// Form Validation
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Z-Index
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navbars
// -----------------------------------------------------------------------------

// Fixes "SassError: Incompatible units rem and em"
$nav-link-height: bootstrap.$font-size-base * bootstrap.$line-height-base +
  bootstrap.$nav-link-padding-y * 2;
$navbar-brand-font-size: strip-unit($font-size-lg) * 1rem;

// -----------------------------------------------------------------------------
// Dropdowns
// -----------------------------------------------------------------------------

$dropdown-font-size: $font-size-sm;

$dropdown-border-color: $ghost;
$dropdown-border-width: $spacers-0;

$dropdown-link-color: $link-color;
$dropdown-link-hover-color: $dark;
$dropdown-link-hover-bg: $primary;

$dropdown-link-active-color: $dropdown-link-hover-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;

$dropdown-item-padding-y: $spacers-2;
$dropdown-item-padding-x: $spacers-3;

$dropdown-item-bg: $ghost;
$dropdown-item-hover-bg: $primary;
$dropdown-item-color: $primary;
$dropdown-item-font-size: $font-size-xs;

$dropdown-header-color: $primary;
$dropdown-header-hover-color: $dropdown-header-color;

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Tooltips
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Popovers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Toasts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Modals
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Progress Bars
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// List Groups
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Image Thumbnails
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Figures
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Breadcrumbs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Spinners
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Close
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Code
// -----------------------------------------------------------------------------
