/// ----------------------------------------------------------------------------
/// Theme Variables
/// @group config-variables
/// @link https://getbootstrap.com/docs/4.5/getting-started/theming/
/// ----------------------------------------------------------------------------

@use '~bootstrap/scss/bootstrap-utilities' as bootstrap;

// -----------------------------------------------------------------------------
// Color system
// -----------------------------------------------------------------------------

$dark: #232946;
$darker: #121629;
$light: #fffffe;
$primary: #eebbc3;
$secondary: #b8c1ec;

$light-75: rgba($light, 0.75);

$dark-25: rgba($dark, 0.25);
$primary-25: rgba($primary, 0.25);
$secondary-25: rgba($secondary, 0.25);

$light-5: rgba($light, 0.05);

$ghost: transparent;

// -----------------------------------------------------------------------------
// Options
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Spacing
// -----------------------------------------------------------------------------

$spacer: 1rem;

$spacer-0: 0;
$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: 0.75rem;
$spacer-4: $spacer;
$spacer-5: 1.25rem;
$spacer-6: 1.5rem;
$spacer-8: 2rem;
$spacer-9: 2.25rem;
$spacer-10: 2.5rem;
$spacer-12: 3rem;
$spacer-14: 3.5rem;
$spacer-16: 4rem;
$spacer-18: 4.5rem;
$spacer-20: 5rem;
$spacer-24: 6rem;
$spacer-40: 10rem;
$spacer-48: 12rem;
$spacer-56: 14rem;
$spacer-64: 16rem;

$spacers: (
  0: $spacer-0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
  6: $spacer-6,
  8: $spacer-8,
  9: $spacer-9,
  10: $spacer-10,
  12: $spacer-12,
  14: $spacer-14,
  16: $spacer-16,
  18: $spacer-18,
  20: $spacer-20,
  24: $spacer-24,
  40: $spacer-40,
  48: $spacer-48,
  56: $spacer-56,
  64: $spacer-64
);

$icon-pos-spacer: map-get($spacers, 1);

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

$body-bg: $dark;
$body-color: $secondary;

// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

$link-color: $primary;
$link-decoration: none;

// -----------------------------------------------------------------------------
// Paragraphs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Breakpoints
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Containers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Grid Columns
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Container Padding
// -----------------------------------------------------------------------------

$border-radius: map-get($spacers, 0);
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;

// -----------------------------------------------------------------------------
// Components
// -----------------------------------------------------------------------------

$border-color: $darker;
$border-width: 2px;

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$font-family-sans-serif: ibm-plex-sans, sans-serif;
$font-family-sans-serif-special: quimby-gubernatorial, sans-serif;

$font-size-xs: bootstrap.$font-size-base * 0.75;
$font-size-xl: bootstrap.$font-size-base * 1.5;

$font-weight-hairline: 100;
$font-weight-thin: 200;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$font-weight-base: $font-weight-medium;

$headings-font-weight: $font-weight-extrabold;
$headings-color: $light;
$headings-text-transform: uppercase;

$hr-color: $light;

// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Button & Forms
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

$btn-color: $dark;

$btn-font-weight: $font-weight-base;

// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

$form-text-color: $light-75;

$input-bg: $ghost;
$input-disabled-bg: $input-bg;
$input-disabled-border-color: bootstrap.$form-select-disabled-color;

$input-color: $secondary;
$input-border-color: $primary;

$input-focus-border-color: $input-border-color;

$input-placeholder-color: $secondary;

$form-check-input-bg: $light;

$form-check-input-checked-bg-color: $primary;

$form-select-color: $dark;
$form-select-bg: $primary;

$form-select-focus-color: $form-select-color;
$form-select-focus-bg: $form-select-bg;

// -----------------------------------------------------------------------------
// Form Validation
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Z-Index
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Navbars
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Dropdowns
// -----------------------------------------------------------------------------

$dropdown-link-color: $link-color;
$dropdown-link-hover-color: $dark;
$dropdown-link-hover-bg: $primary;

$dropdown-link-active-color: $dropdown-link-hover-color;
$dropdown-link-active-bg: $dropdown-link-hover-bg;

// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Tooltips
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Popovers
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Toasts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Modals
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Progress Bars
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// List Groups
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Image Thumbnails
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Figures
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Breadcrumbs
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Spinners
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Close
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Code
// -----------------------------------------------------------------------------
