/// ----------------------------------------------------------------------------
/// @group Sidebar
/// ----------------------------------------------------------------------------

/// ----------------------------------------------------------------------------
/// Variables
/// ----------------------------------------------------------------------------

$sidebar-font-size: $font-size-sm;

$sidebar-padding-bottom: $spacers-80;
$sidebar-padding-top: $spacers-72;

$sidebar-padding-x: $spacers-36;

/// ----------------------------------------------------------------------------
/// Styles
/// ----------------------------------------------------------------------------

.sidebar {
  @include flex(stretch, space-between, column);

  @include height(max-content, none, 100%);

  @include media-breakpoint-up(sm) {
    @include border($border-color, $border-width, right);
  }

  @include padding-x($sidebar-padding-x);

  @include padding-y($sidebar-padding-top, $sidebar-padding-bottom);

  background-color: $body-bg;
  font-size: $sidebar-font-size;

  &-menu {
    @include flex(null, null, column);

    .nav-link {
      @include padding-x($spacers-0);

      font-weight: $font-weight-thin;
    }
  }

  &-profile {
    p {
      &:not(:last-of-type) {
        @include margin-bottom($spacers-8);
      }

      &:last-of-type {
        @include margin-bottom($spacers-0);
      }
    }

    &-img {
      @include media-breakpoint-up(xl) {
        max-height: rem(250);
        max-width: rem(250);
      }

      display: inline-block;
    }

    &-name {
      font-size: $font-size-xl;
    }

    &-online-status {
      display: inline-flex;

      .icon {
        @include margin-right($spacers-12 / 2);
      }
    }

    &-name,
    &-online-status {
      font-weight: $font-weight-bold;
    }
  }
}

.developer-credit {
  @include margin-y($sidebar-padding-x, $spacers-0);

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }

  text-transform: uppercase;
}
